#cobalt * {
  margin: 0;
  padding: 0;
}

#cobalt, #cobalt-out {
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 5px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 5px;
  
  position: fixed;
  top: 38%;
  left: 50%;
  margin: -85px 0 0 -165px;
  width: 330px;
  padding: 5px 0;
  
  font-size: 12px;
  font-family: 'Lucida Grande', sans-serif;
  line-height: 16px;
  
  z-index: 1000;
}

#cobalt-out {
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  color: #FFF;
}

#cobalt .cell {
  position: relative;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  margin: 5px 0 5px 10px;
  width: 150px;
  height: 150px;
  font-family: 'Lucida Grande', sans-serif;
}

#cobalt .cell input {
  text-shadow: 1px 1px 5px #FFF;
  margin: -4px 0 0 -4px;
  padding: 4px;
  width: 134px;
  height: 134px;
  border: 0;
  color: #000;
  color: rgba(0,0,0,0.8);
  background-color: transparent;
  background-color: rgba(0,0,0,0);
  font-size: 32px;
}

#cobalt .inner {
  overflow: hidden;
  width: 130px;
  height: 130px;
  margin: 10px;
}

#cobalt .cell label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 120px;
  padding: 3px;
  text-align: center;
  color: #FFF;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#cobalt .cell .cobalt-item-url_data {
  background: url(bookmark.png) center center no-repeat;
}

#cobalt .cell .cobalt-item-node {
  background: url(node.png) center center no-repeat;
}

#cobalt .cell .cobalt-item-user {
  background: url(user.png) center center no-repeat;
}

#cobalt .cell .cobalt-item-vocabulary, #cobalt .cell .cobalt-item-term {
  background: url(voc.png) center center no-repeat;
}

#cobalt .cobalt-paging {
  display: none;
  margin: 0;
  padding: 0 20px;
  clear: both;
  text-align: center;
}

#cobalt .cobalt-paging li {
  display: inline-block;
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  opacity: .5;
  background: url(whitedot.png) top left no-repeat;
  width: 10px;
  height: 10px;
}

#cobalt .cobalt-paging li.current {
  opacity: 1.0;
}

#cobalt .cobalt-autocomplete, #cobalt .cobalt-actions {
  display: none;
  clear: both;
  margin: 0 10px;
  padding: 10px 0 5px;
  color: #FFF;
}

#cobalt .cobalt-autocomplete li, #cobalt .cobalt-actions li {
  display: block;
  list-style: none;
  padding: 5px 10px;
  background-image: none;
}

#cobalt .cobalt-autocomplete li small {
  color: #333;
  color: rgba(256,256,256,0.8);
}

#cobalt .right .cobalt-action-default {
  background: url(default_action.png) center center no-repeat;
}

#cobalt .cobalt-autocomplete li.active, #cobalt .cobalt-actions li.active {
  background-color: #FFF;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#cobalt-out .cobalt-update-link {
  text-transform: uppercase;
  color: #FFF;
}
