#qs {
  background-color: rgba(0,0,0,0.5);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: absolute;
  width: 330px;
  padding: 10px 0 10px 0;
  
  font-size: 12px;
  font-family: 'Lucida Grande', sans-serif;
  
  z-index: 1000;
}

#qs .cell {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  float: left;
  margin: 0 0 0 10px;
  width: 150px;
  height: 150px;
  font-family: 'Lucida Grande', sans-serif;
}

#qs .cell input {
  margin: -4px 0 0 -4px;
  padding: 4px;
  width: 134px;
  height: 134px;
  border: 0;
  color: rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0);
  font-size: 32px;
}

#qs .inner {
  overflow: hidden;
  width: 130px;
  height: 130px;
  margin: 10px;
}

#qs .cell label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 120px;
  padding: 3px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#qs .cell .qs-item-url_data {
  background: url(bookmark.png) center center no-repeat;
}

#qs .cell .qs-item-node {
  background: url(drupal.png) center center no-repeat;
}

#qs .qs-autocomplete {
  clear: both;
  margin: 0 10px 0 10px;
  padding: 10px;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.5);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#qs .qs-autocomplete li {
  display: block;
  list-style: none;
  margin: 4px;
  padding: 3px;
  border: 2px solid rgba(255,255,255,0.8);
  background-image: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#qs .right .qs-action-default {
  background: transparent url(default_action.png) center center no-repeat;
}

#qs .qs-autocomplete li.active {
  background-color: rgba(255,255,255,0.2);
}